<style type="text/css">
*{margin: 0px;
padding: 0px;
}

.picture{
    background-image:url(images/image5.jpg);
    background-repeat:no-repeat;  
    height:700px;
    width: 100%;
    margin-bottom:100px; 

      }




.container-fluid{height: 50px;}



.navbar-nav {
    float:none;
    margin:0 auto;
    display:block;
    text-align: center;

}

.navbar-nav > li {
    display: inline-block;
    float:none;

}
.navbar-nav li a{color:white;


}
.header{color:white ;
    position: relative;
    display: inline-block;   
}
#header{color: white;
        text-align: center;
        margin-top: 250px;
        
 }
#header h1{font-size:50px;
           overflow: hidden;
           }
#header h1:before,
#header h1:after {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 5px;
    position: relative;
    vertical-align: middle;
    width:10%;

}
 #header h1:before {
    right: 0.2em;
    margin-left: -70%;
}
#header h1:after {
    left: 0.2em;
    margin-right: -70%;
}

#header p{font-size:20px }






#info1{margin-top:300px;
       text-align: center; }




#mypic{border-radius: 50%;
       max-width:100%
       height:auto;
       padding-bottom:10px;
       padding-top:5px;  
        }
#info1 p{padding-top:10px;}

#info2{text-align: center;
       margin-top: 20px;
       background-color: #696969;
       width: 100%}
       
#info2 h2{padding-bottom:30px;
	color: white;
 }

#circle{margin-left:60px;   }

#info3{margin-top:30px;
text-align: center; }

#info4{margin-top: 30px;
      text-align: center;}

#footer{background-color:#696969; 
        margin-top: 20px; 
        height:auto;}

#social{list-style:none; margin-left:120px; }
    
ul#social li{display:inline-block;margin:10px 15px auto auto;}
#social img{height:55px; width:55px; }


.arrow{
    position: relative;


}
 
/*replace the content value with the
corresponding value from the list below*/
 
.arrow:before {
    content: "\f0ab";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #fff;
    font-size: 40px;
    padding-right: 0.9em;
    position: absolute;
    top: 50px;
    left: -15px;
    text-decoration: none;
}
   	
</style>